/*  your css code here. If applicable */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.main-container{
	background-color: #f5f5f5;
	width: 80%;
	padding: 30px 20px;
}
h1{
	padding:5px;
}
.testimonial{
	border: 1px solid black;
	padding: 15px;
	background-color: white;
	margin: 20px 0px;
}
.text_div{
	margin: 5px;
}
.author{
	text-align: right;
	margin: 5px;
	font-style: italic;
}